<a href="https://colab.research.google.com/github/MeidanGR/GooglePlayStoreAnalysis/blob/main/GooglePlayStore_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Google Play Store Data Preprocessing**
This data preprocessing progress has been established for an academic project of a BI course. The data will be analyzed within the project.

Major thanks to **Gautham Prakash** for publishing & maintenance this dataset, which you can find at https://www.kaggle.com/gauthamp10/google-playstore-apps

# **Google auth & libraries**

In [98]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [85]:
import pandas as pd
import numpy as np

# **CSV LOAD**

In [93]:
#Loading csv
df = pd.read_csv('/content/drive/My Drive/Google-Playstore.csv')

print("Dataframe original shape is", np.shape(df))
df.sample(2)

Dataframe original shape is  (603047, 23)

                                               App Name  ... Editors Choice
591716                              Women Handbag Ideas  ...          False
14351   ‡¶¨‡¶æ‡¶ö‡ßç‡¶ö‡¶æ‡¶¶‡ßá‡¶∞ ‡¶õ‡ßã‡¶ü ‡¶∏‡ßÇ‡¶∞‡¶æ ‡¶¨‡¶æ‡¶Ç‡¶≤‡¶æ - Small Surah for Kids  ...          False

[2 rows x 23 columns]

# **DATA FILTERING**
## Agenda: 
Data reduction up to ~100K rows, for a decent memory space & faster analysis.

## Guidelines:
- **Minimum Android** is the minimum android version which allowes operation for the app. The mose popular values were found: 4.1\4.0.3\6.0 and up & Varies with device.
- **Size** should exceed 1MB.
- **Currency** will be USD only.
- **Last updated** during 2020.

In [94]:
#Coloumn labels space fix
df.columns = [x.replace(" ", "_") for x in df.columns]

#Rows SELECT
df = df.query('(Minimum_Android == "4.1 and up" | Minimum_Android == "4.0.3 and up" | Minimum_Android == "Varies with device" | \
Minimum_Android == "6.0 and up") & not Size.str.endswith("k") & Currency == "USD" & Last_Updated.str.contains("2020")',engine='python')

#Coloumns FILTER
df = df.filter(items=['App_Name', 'Category', 'Rating', 'Rating_Count', 'Installs', 'Price', 'Size','Released','Last_Updated','Ad_Supported', 'In_App_Purchases'])

#Saving a copy of dataframe
dfcopy = df.copy(deep=True)

print("Dataframe reduced shape is", np.shape(df))
df.sample(10)

Dataframe reduced shape is (112092, 11)

                                                 App_Name  ... In_App_Purchases
159759                                           DinStats  ...            False
215096                                Folder Video Player  ...            False
124960                        Colony Bank Business Mobile  ...            False
572381               Vehicle RTO registration information  ...            False
83453                Bipi - Monthly subscriptions to cars  ...            False
592996  Word Search Pop - Free Fun Find & Link Brain G...  ...             True
405406  Olyfox Browser-Fast & Secure Browser, Safe Bro...  ...            False
468103                                 Robin by Serieplay  ...             True
151128       Dating app for free: dating & chat - Love.ru  ...             True
592820             Word Picture Fun Quiz Game for Indians  ...            False

[10 rows x 11 columns]

# **INITIAL DATA INFO**

In [79]:
print("Dataframe NULL count:")
print(df.isnull().sum(axis = 0), end="\n\n")

df.info()

Dataframe NULL count:
App_Name               1
Category               0
Rating              1880
Rating_Count        1880
Installs               0
Price                  0
Size                   0
Released            6338
Last_Updated           0
Ad_Supported           0
In_App_Purchases       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112092 entries, 20 to 603046
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   App_Name          112091 non-null  object
 1   Category          112092 non-null  object
 2   Rating            110212 non-null  float64
 3   Rating_Count      110212 non-null  float64
 4   Installs          112092 non-null  object
 5   Price             112092 non-null  float64
 6   Size              112092 non-null  object
 7   Released          105754 non-null  object
 8   Last_Updated      112092 non-null  object
 9   Ad_Supported      112092 non-null  bool
 10  In_App_Purchases  112092 non-null  bool
dtypes: bool(2), float64(3), object(6)
memory usage: 8.8+ MB

In [36]:
#Retrieve coloumn general info 
name = 'Category'
df[name].describe()

count         97206
unique           48
top       Education
freq          11064
Name: Category, dtype: object

# **DATA CLEAN & CORRECTION**
- Null values that were found in **App_Name, Released** are not acceptable for furthor analysis.
- The null values in **Rating, Rating_Count** will be replaced with mean values.

In [96]:
#NULL Extraction
df = df.query('not Released.isnull() & not Rating.isnull() & not Rating_Count.isnull() & not App_Name.isnull()',engine='python')

# Function replaces np.nan values in all of the data frame with relevant statistics \ dal7collab
def rep_missings(data_frame):
    d = data_frame.copy(deep = True)
    for c in data_frame:
        if (data_frame[c].dtype == 'float64'):
            if data_frame[c].isnull().values.any() :
                m = data_frame[c].dropna().mean()
                d[c].fillna(m, inplace = True)
    return d;
# Activating the function
df = rep_missings(df)

#Coloumn types correction
df['App_Name'] = df['App_Name'].astype({'App_Name': 'string'})
df['Category'] = df['Category'].astype({'Category': 'string'})
df['Rating_Count'] = df['Rating_Count'].astype({'Rating_Count': 'int32'})
df['Installs'] = df['Installs'].astype({'Installs': 'string'})
df['Size'] = df['Size'].astype({'Size': 'string'})
df['Released']= pd.to_datetime(df['Released']) 
df['Last_Updated']= pd.to_datetime(df['Last_Updated']) 

#'Size' coloumn excluding "Varies with device"
df['Size'] = df['Size'].replace(to_replace="Varies with device", 
                                   value = np.nan)


print("Dataframe final shape is", np.shape(df))
df.sample(10)

Dataframe reduced shape is (105746, 11)

                                             App_Name  ... In_App_Purchases
602684       Z-Road : Save the World from the Z Virus  ...            False
180360                                       Í≥†ÏñëÎ≤ÑÏä§ Ïä§ÎßàÌä∏  ...            False
568391                 US Dollar x New Israeli Shekel  ...            False
311938                      Lagu BTOB Lengkap Offline  ...            False
173978          üó∫Ô∏èüíÑGirl Dress Up Salon - World Travel  ...            False
404053                      offline French dictionary  ...            False
528469  Tap Tap Trillionaire - Cash Clicker Adventure  ...             True
103917                             Canossianas Mobile  ...            False
63171                        Autumn Live Wallpaper HD  ...            False
359659             Monsterland 2. Physics puzzle game  ...             True

[10 rows x 11 columns]

# **POSTPROCESSING DATA INFO**

In [81]:
#Genereal information after preprocessing
print(df.info(),end = '\n\n')

### Data Frame general information: ###

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105746 entries, 81 to 603045
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   App_Name          105746 non-null  string
 1   Category          105746 non-null  string
 2   Rating            105746 non-null  float64
 3   Rating_Count      105746 non-null  int32
 4   Installs          105746 non-null  string
 5   Price             105746 non-null  float64
 6   Size              97206 non-null   string
 7   Released          105746 non-null  datetime64[ns]
 8   Last_Updated      105746 non-null  datetime64[ns]
 9   Ad_Supported      105746 non-null  bool
 10  In_App_Purchases  105746 non-null  bool
dtypes: bool(2), datetime64[ns](2), float64(2), int32(1), string(4)
memory usage: 7.9 MB
None

                                            App_Name  ... In_App_Purchases
81        "RS Station" - Road side station navigator  ...            False
111                                           #BeApp  ...            False
116                                        #CrockFit  ...             True
119                                    #–ë–µ—à–µ–Ω–∞—è–°—É—à–∫–∞  ...            False
153                                           #LikeU  ...            False
178      #SkyesSquad Gifs by Facemoji Emoji Keyboard  ...            False
189  #The Hashtags Emoji Sticker With Funny Emotions  ...            False
198                                          #walk15  ...             True
210                                         &frankly  ...            False
215                              ( Õ°¬∞ Õú ñ Õ°¬∞) PugWars  ...            False

[10 rows x 11 columns]

# **EXPORT TO GOOGLE DRIVE**

In [99]:
#Exporting a csv into google drive
df.to_csv('/content/drive/My Drive/GooglePlay-Store_Optimized.csv')